<div class="slyxFdN IsQ">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="#fff" preserveAspectRatio="xMidYMid meet"><rect x="0" y="4" width="20" height="2"></rect><rect x="0" y="9" width="20" height="2"></rect><rect x="0" y="14" width="20" height="2"></rect></svg>
</div> 

<!-- Выводить текущий раздел -->
<div class="q0VKAhg">
    Тесты
</div> 