<modal-template hidden disable-select>
    <window-template>
        <div class='modal-notific'>
            
        </div>
        <div class="modal-container">
            <div class="modal-esc">
                <button class="dAWDJJKQA2dikdas" ripple disable-select button-tamplate>Отмена</button>
            </div>
            <div class="modal-ent">
                <form>
                <button class="dAWDJJKQA2dikdas" ripple disable-select button-tamplate></button>
                </form>
            </div>
        </div>
    </window-template>
</modal-template>