.ADWkj2ad{
    display: block;
    margin-left: 12px;
    color: #e51c23;
    font-size: 80.50%;
}
.RWacdkJs{
    display: none;
}
.AjmAWC{
    display: flex !important;
}
._empty{
    border-color: #e51c23;
}
.reject-submit{
    margin-top: 10px;
}

.error{
    transform: translateX(-10px);
    opacity: 0;
    transition: .3s ease all;
    display: flex;
    align-items: center;
}
[error-reject]{
    transform: translateX(0px) !important;
    opacity: 1 !important;
}