body{
    margin: 0;padding: 0;
}
/* ------------ */
    .slyxFdN .aria-ripple{
        background: #fff;
    }
    iron-icon .aria-ripple{
        z-index: 1000;
        background: rgba(0, 0, 0, 0.473);
    }
/* ------------ */
.TcP5fc span{
    color: #3367d6;
}
.TcP5fc{
    font-size: 87%;
}
.F21sW0EW{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;right: 0;bottom: 0;top: 0;
}
span[blue]{
    color: #3367d6;
}
.IsQ{
    display: block !important;
    position: relative !important;
}
.ud0AdBs{
    /*  */
        display: flex;
        align-items: center;
        position: relative;
        padding: 15px 15px;
        z-index: 2;
        color: #fff;
            font-size: 18px;
        box-shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

    /*  */
    background: #3367d6;
}
.slyxFdN{
    margin-right: 5px;
    cursor: pointer;
    padding: 10px;
    width: 20px;
    height: 20px;
}
.G1qVSlLk{
    overflow: overlay !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    background:#F8F9FA;
}
.aSEQzkJ{
    width: 860px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column
}
.OePZjKkR{
    color: #2c2c2c;
    font-size: 16px;
    font-family: "Roboto";
}
.xWDJRVpY{
    display: flex;
    flex-direction: column;
    flex: none !important;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #fff;
    box-shadow:  0 2px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

}

#myChart{
    height: 300px !important;
    width: 300px !important;
}
.jsxW{
    animation: jsx .5s ease
}
@keyframes jsx{

    0%{
        opacity: 0;
        transform: translateY(20px)
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.OePZjKkR{
    align-items: center;
}
.H1MJEu7u{
    width: 24px;
    height: 24px;
    margin-left: auto;
}
.Acl360RTd{
    display: flex;flex-direction: column;
}
.DSCwycxc{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.v9TErEeFF{
    font-size: 15px;
    font-family: 'Roboto';
    color: #000000e0;
    border-bottom: 1px solid #00000091;
    padding-bottom:12px;
    margin-top: 30px;
}
.item{
    position: relative;
    display: flex;
    font-family: "Roboto";
    color: rgba(44, 44, 44, 0.788);
    justify-content: center;
    margin-right: 15px;
    margin-top: 16px;
    flex-basis: 30%;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.082);
}
.iP8AakXX{
    width: 80%;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 13px;
}
.item iron-icon{
    padding: 4px;
    cursor: pointer;
    margin: 5px !important;
    height: 18px;
    width: 18px;
}
.item iron-icon .aria-ripple{
    background: rgba(0, 0, 0, 0.13);
}
.item .aria-ripple{
    background: #5f636875;
}
.ihgj4dr{
    position: relative;
    display: flex;
    flex-basis: 50%;
    font-size: 95%;
    color: #000000be;
}
.Cw5Gbbtt{
    margin-top: 20px;;
}
.f7nSQKRPZ{
    margin-bottom: 20px;
}
.state{
    
    margin: 0 auto;
    margin-bottom: 10px;margin-top: 20px;
}
.msDrcsA{margin-top: 8px;;
    font-size: 82%;
    padding-bottom: 8px;;
    border-bottom: 1px solid rgba(44, 44, 44, 0.171);
}
.Cw5Gbbtt{
    font-weight: 500;
    font-size: 96%;
    color: #3367d6;
}
.mFoSk7v{
    position: absolute;
    top: 0;right: 0;
}
.QprDheCS{
    display: flex;
    flex-direction: column;
    width: 100% !important;
}
.OVk67ueeXx{
    margin-top: auto;
}
.f7nSQKRPZ{
    margin-top: 30px;
    padding-top: 20px;
}
.f7nSQKRPZ button{
    border: none !important;
    background: #3367d6;
    color: #fff;
    padding: 8px 24px;
    font-size: 95%;
    margin-left: auto;
}
.f7nSQKRPZ button .rippleon{
    background: rgba(255, 255, 255, 0.295);
}

#error{
    font-size: 110%;
    color: #000000b4;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
}
#error iron-icon{
    width: 24px;
    height: 24px;
}
.mFoSk7v button{
    padding: 0;
}