[statistic-page] .exqyWGy2Ko{
    margin-bottom: 50px !important;
}
[statistic-page] .error-page{
    transform: scale(0.70);
    height: auto !important;
    margin-top: 20px !important;
    margin-bottom: 30px !important;
}
[statistic-page] .G1qVSldaLk{
    background: #fff !important;
}