[statistic-page] .exqyWGy2Ko{
    margin-bottom: 50px !important;
}
[statistic-page] .error-page{
    transform: scale(0.70);
    height: auto !important;
    margin-top: 20px !important;
    margin-bottom: 30px !important;
}
[statistic-page] .G1qVSldaLk{
    background: #fff !important;
}
.state_ttle{
    color: #3367d6;
    font-family: "Roboto";
}
[statistic-page] .iiHdNvsXDu{
    margin-top: 10px;
}
[statistic-page] .jBlnmKNrTJ{
    margin-top: 4px;
    letter-spacing: -0.6px;
    font-size: 17px !important;
}
.data_ttle{
    color: rgba(0, 0, 0, 0.719)
}
[statistic-page] .JUGIKe6xDr{
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}
.user_result_data{
    margin-left: auto;
    padding-left: 20px;
    padding-right: 10px;
}
.user_name{
    margin-right: 50px;
}
.dia_container{
    margin-right: 60px;
    margin-left: auto;
}
.marks_result{
    margin-top:30px;
}
.data_res{
    color: #3367d6;
}
.user_result_data div{
    text-align: right;
    margin-left: 0;
    margin-right: 18px;
}
.user_result_data div:last-child{
    margin: 0;
}
.average_score{
    font-size: 18px;
    margin-top: 30px;
    font-family: 'Roboto';
}
.user_result_data{
    display: flex;
    font-family: "Roboto";
}
.marks_result{
    transition: .2s ease all;
    border-radius: 6px;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.082)
}
.marks_container{
    flex-basis: 46%;
    margin-top: 20px;
}
.marks_ttle{
    font-family: 'Roboto';
    font-size: 21px;
    color: rgba(0, 0, 0, 0.74)
}
.user_result{
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
}
.user_result:last-child{
}
.user_result span{
    display: inline;
}
.ttle_scrore{
    color: #3367d6;
}
.user_name{
    font-size: 16px;
    cursor: pointer;
    font-family: "Roboto";
    color: #3367d6 !important; 
}
[statistic-page-empty]{
  width: 560px !important;  
  
}
[statistic-page-empty] .error-page {
    transform: scale(0.70);
    height: auto !important;
    margin-top: 20px !important;
    margin-bottom: 30px !important;
}
@media screen and (max-width: 1625px){
    .JUGIKe6xDr{
        flex-direction: column !important;
        transition: .2s ease all
    }
    .dia_container{
        margin-right: auto !important;
        margin-left: 0;
        margin-top: 20px;
    }
    .marks_container{
        width: 60% !important;
    }

}
@media screen and (max-width: 1260px){
    .marks_container{
        width: 542px !important;
    }
    .dia_container{
        margin-top: 20px !important;
    }

}
@media screen and (max-width: 880px){
    .marks_container{
        width: 100% !important;
    }
    [statistic-page]{
        width: 660px !important;
    }
    .dia_container{
        margin: 0 auto !important;
        margin-top: 20px !important;
    }

}