.afobqbROic{font-family: "Roboto";
    color: #5f6368;
    display: flex;
    font-size: 15px;
    align-items: flex-end;
    padding-bottom: 3px;
}
.afobqbROic iron-icon{
    margin-inline-end: 10px;
    width: 24px;
    height: 24px;
}

/* .aSEQzkJ{
    width: 560px !important;
} */

.iiHdNvsXDu{
    position: relative;
    margin-top:24px;;
}
.ROFWuPbXOCC{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
}
.ROFWuPbXOCC iron-icon{
    margin: 0;
    width: 24px;
    height: 24px;
}
.XmpFH7yAUc{
    color: #000000a6;
    font-family: 'Roboto';
    font-size: 88.25% !important;
    margin-top: 10px;
    margin-bottom: 10px;;
}
.sj{
    margin-top: 5px;;
}
.JUGIKe6xDr{
    display: flex;
}
.JUGIKe6xDr .rippleon{
    background: #3367d61a;
}
.MHOai4cPWJs .rippleon{
    background: #E9F2FC !important;
}
.MHOai4cPWJs{
    font-size: 15px !important;
    z-index: 1;
    position: relative;
    overflow: hidden;
    font-family: 'Roboto';
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 12px;
    color: #3367d6;
    border-radius: 4px;
    padding: 5px 0px;
    width: 120px;
    text-align: center;
    border: 1px solid #c2c4c9;
}
.profile-button{
    font-size: 15px !important;
    z-index: 1;
    position: relative;
    overflow: hidden;
    font-family: 'Roboto';
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 12px;
    border-radius: 4px;
    padding: 5px 0px;
    text-align: center;
    border: 1px solid #c2c4c9;
}
.button-logout{
    color: #3367d6;
    width: 120px;
}
.button-delete{
    color: #d65033;
    margin-left: auto;
    width: 160px;
    margin-right: 15px;
}