

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Testing | Ошибка</title>
    <link rel="stylesheet" href="/static/frontend/css/main_styles.css">
    <link rel="stylesheet" href="/static/frontend/css/font/font.css">
    <link rel="stylesheet" href="/static/frontend/css/rippleEffect.css">
    <link rel="stylesheet" href="/static/frontend/css/menu/menu.css">
    <link rel="stylesheet" href="/static/frontend/css/test_statistic.css">
    <link rel="stylesheet" href="/static/frontend/css/login.css">
</head>      

<% if (typeof culprit !== 'undefined' && culprit === 'db') { %>
    <body error-page> 
        <div  class="error-page">
            <div class="login__wrapper">
                    <div class="G1qVSldaLk"> 
                    <icon-error>
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill='#00000070'><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg>
                        </icon-error>
                        <div class="error-ttle_page">
                            В данный момент сайт недоступен
                        </div>
                    </div>
            </div>
        </div> 
    </body>
<% } %>
</html>
