<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Testing | Вход</title>
    <link rel="stylesheet" href="static/frontend/css/main_styles.css">
    <link rel="stylesheet" href="static/frontend/css/login.css">
    <link rel="stylesheet" href="static/frontend/css/rippleEffect.css">
    <link rel="stylesheet" href="static/frontend/css/input.css">
    <link rel="stylesheet" href="static/frontend/css/error.css">
    <link rel="stylesheet" href="static/frontend/css/font/font.css">
    
</head>
<body>
    
    <div class="login__wrapper">
        <div class="wp_main jsxW">
            <div class="wellcome_tittle">
                <span class="ttle_fr">Добро пожаловать</span>
                <span class="ttle_lst">Войдите в аккаунт для работы с сайтом</span>
            </div>
            <div class="log_ttle">
                <div class="span_logttle">Авторизация</div>
            </div>
            <div class="log_wrp">
            <form action="/login" id="loginForm" method="POST">
                <div class="athrz-main">
                    <div class="d2DHdaj jbefore">
                        <div class="bj">
                            <div class="Rjx2D">Логин</div>
                             <input type="text" name="inputLogin" autocomplete="off" class="DJad2DAj" required>
                         </div>
                     </div>
                     <div class="d2DHdaj jbefore">
                        <div class="bj">
                            <div class="Rjx2D">Пароль</div>
                             <input type="password" name="inputPassword" autocomplete="off" class="DJad2DAj" required>
                         </div>
                     </div>
                </div> 
                <div class="notific">
                    <div class="RWacdkJs">
                        <div class="J21dakAs"> <svg xmlns="https://www.w3.org/2000/svg" aria-hidden="true" focusable="false" width="16px" height="16px" viewBox="0 0 24 24" fill="#e51c23"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></div>
                        <div class="ADWkj2ad">Введите все данные</div>
                    </div>   
                    <% if (typeof messages !== 'undefined') { %>
                        <div class="reject_submit">
                            <% messages.forEach(function(message){ %>
                                <div class="msh"><%= message %></div>
                            <% }); %>
                        </div>
                     <% } %>              
                </div>

               <div class="loginbtn dAWDJJKQA2dikdas" disable-select ripple>
                   <div class="ttlebtnspan" >Войти</div>
               </div>
            </form> 
            <div class="registation">
                <span>У вас нет аккаунта?</span>
                <a href="/register">Зарегистрироваться</a>
            </div>
            </div>
        </div>


    </div>
    <script  src="static/frontend/front/login.js"></script>
    <script  src="static/frontend/front/app.js" type='module'></script>
</body>
</html>