<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Testing | Регистрация</title>
    <link rel="stylesheet" href="static/frontend/css/main_styles.css">
    <link rel="stylesheet" href="static/frontend/css/login.css">
    <link rel="stylesheet" href="static/frontend/css/rippleEffect.css">
    <link rel="stylesheet" href="static/frontend/css/input.css">
    <link rel="stylesheet" href="static/frontend/css/select-module.css">
    <link rel="stylesheet" href="static/frontend/css/font/font.css">
    <link rel="stylesheet" href="static/frontend/css/error.css">

</head>
<body>
    
    <div class="login__wrapper">
        <div class="wp_main jsxW">
            <div class="wellcome_tittle">
                <span class="ttle_fr">Добро пожаловать</span>
                <span class="ttle_lst">Пройдите регистрацию для дальнейшей работы с сайтом</span>
            </div>
            <div class="log_ttle">
                <div class="span_logttle">Регистрация</div>
            </div>
            <div class="log_wrp">
            <form action="/register" id="registerForm" method="POST">
                <div class="athrz-main">
                    <div class="d2DHdaj jbefore">
                        <div class="bj">
                            <div class="Rjx2D">Логин</div>
                             <input type="text" name="inputLogin" class="DJad2DAj" _data required>
                         </div>
                     </div>
                     <div class="d2DHdaj jbefore">
                        <div class="bj">
                            <div class="Rjx2D">Пароль</div>
                             <input type="password" name="inputPassword" class="DJad2DAj" _data required>
                         </div>
                     </div>
                    <div class="d2DHdaj jbefore">
                        <div class="bj">
                            <div class="Rjx2D">Ф.И.О</div>
                            <input type="text" name="inputName" class="DJad2DAj" _data required>
                        </div>
                    </div>
                    <div class="d2DHdaj jbefore">
                        <div class="bj">
                            <div class="Rjx2D">Класс/должность</div>
                            <input type="text" name="inputPosition" class="DJad2DAj" _data required>
                        </div>
                    </div>
                    <div style="margin-top: 15px">
                        <div class="" type='label'>Тип аккаунта</div>
                        <select-tamplate class="fz_tamplate">
                            <select-placeholder data-this='Выберите вариант' ripple ></select-placeholder>
                            <select-wrap>
                                <select-item value="0">Гость</select-item>
                                <select-item value="1">Ученик</select-item>
                                <select-item value="2">Учитель</select-item>
                                <select-item value="3">Администратор</select-item>
                            </select-wrap>
                        </select-tamplate>  
                    </div>
                </div>
                <div class="notific">
                <div class="RWacdkJs">
                    <div class="J21dakAs"> <svg xmlns="https://www.w3.org/2000/svg" aria-hidden="true" focusable="false" width="16px" height="16px" viewBox="0 0 24 24" fill="#e51c23"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></div>
                    <div class="ADWkj2ad">Введите все данные</div>
                </div>   
                <% if (typeof messages !== 'undefined') { %>
                    <div class="reject-submit">
                        <% messages.forEach(function(message){ %>
                            <div class='msh'><%= message %></div>
                        <% }); %>
                    </div>
                <% } %>           
            </div>  
               <div class="loginbtn dAWDJJKQA2dikdas" disable-select ripple >
                   <div class="ttlebtnspan">Зарегистрироваться</div>
               </div>
            </form>    
            </div>
        </div>

    </div>
    <script src="static/frontend/front/register.js" type="module"></script>
    <script src="static/frontend/front/app.js" type="module"></script>
</body>
</html>