
<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
        <b>Проект: </b><i>Достатки</i> и <i>Недостоинства</i>.<br>
        <% if (!success) { %>
            <br>
            <b>Ошибка: </b><i><%= error %></i>
        <% }else{  %>
        <h1>Поиск теста</h1>
        <br>
        <% tests.forEach((test) => { %> 
            <hr>
            <div>
            Заголовок: <%= test.headline %><br>
            Неотформатированная дата создания: <%= test.date %><br>
            <form action="/statistics/test/<%= test.id %>" method="GET"> 
            <input type="submit" value="Просмотреть статистику"> 
            </form>
            </div>
            <% }); %>
<% } %>
</body>
</html>   